Source: winst-stsbl-stadthh-wlansg
Section: misc
Priority: optional
Maintainer: Stadtteilschule Blankenese <repository@stsbl.de>
Build-Depends: debhelper-compat (= 13),
  dh-sequence-iserv,
  dh-sequence-iserv-winst,
  dh-sequence-stsbl,
Standards-Version: 4.5.1
Homepage: https://it.stsbl.de/

Package: winst-stsbl-stadthh-wlansg
Architecture: all
Xb-Private-Iserv-Revision: ${iserv:Revision}
Depends: ${iserv:winst:Depends},
  stsbl-iserv-stadthh-wlansg,
  stsbl-iserv-collect-wlan-mac,
Description: ${iserv:winst:Description}
Tag: suite::iserv:deploy, role::package
